* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li {
    text-decoration: none;
    list-style-type: none;
}

html {
    width: 100%;
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 2fr 10fr 1fr;
}

.navigation {
    background-color: rgb(107, 108, 131);
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo-img {
    height: 40px;
}
.logo-text {
    margin-left: 10px;
    font-size: 30px;
}
img {
    height: 20px;
}

.sidebar {
    background-color: lightgray;
    grid-column:  1 / 2;
    padding: 15px;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

.display {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 15px;
    background-color:  rgb(185, 207, 195);
    position: relative;
    /* display: flex; */
}
.folders {
    display: grid;
    align-items: center;
    margin: 20px 0px;
}


.folder {
    display: flex;
    align-items: center;   
    padding: 7px;
    width: 100%;
      
}

.folder:hover {
   border: 3px solid rgb(125, 213, 164);
    border-radius: 10px;
}
.folder img {
    margin-right: 10px;
}

.folder p {
    font-size: 15px;
}
.projects-header {
    margin: 0px  0px 20px 15px;
}
.add-a-folder-sec {
    display: flex;
    align-items: center;
}
.add-a-project-p {
    margin-left: 10px;
    font-size: 20px;
}

.folder-name {
    margin-bottom: 10px;
}
.project {
    display: flex;  
    align-items: center;
    border:rgb(107, 108, 131) solid 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.delete-project {
    margin-left: auto;
    border-radius: 50%;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    display: grid;
    border: none;
}
.delete-project:hover {
    background-color: white;
    color: black;
}
.project-cancel-btn {
    background-color: rgb(255, 115, 115);
    border: 1px solid black;
    border-radius: 10px;
}
.project-add-btn {
    background-color: lightgreen;
    border: 1px solid black;
    border-radius: 10px;
}
footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}



.project-name {
    display: grid;
    gap: 10px;
    padding: 10px;
}

.project-btns {
    display: flex;
    gap: 15px;
    /* justify-content: space-between;   */
}
.project-btns button {
    height: 30px;
    width: 100px;
}
.project-name-input {
    width: 220px;    
    border-radius: 10px;
    height: 30px;
    margin-top: 5px;
}
.to-do-list-sec {
    display: grid;
    overflow: auto;
}
.tasks {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.task, .task-add-form {
    display: flex;
    background-color: lightgray;
    padding: 5px 15px;
    margin-bottom: 10px; 
    width: 600px;
    flex-shrink: 1;
}
.task:hover {
    border: 2px solid rgba(78, 195, 94, 0.8)
}

.task {
    align-items: center;

}
.task button, .task-add-form button {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: none;

}
.add-task-btn {
    margin: 0px 5px;
    
}

.task-date {
    margin-left: auto;
    padding: 5px;
    border: none;
    background-color: transparent;
}
.delete-task-btn {
    background-color: rgb(255, 74, 74);
    color: white;
}

.add-task-form {
    display: flex;
    padding: absolute;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
}


.add-task-form input {
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
    margin: 5px;
}

.task-form-buttons {
    display: flex;
    justify-content: center;
    width: 200px;

}

.submit-task {
    background-color: lightgreen;
    border: none;
    padding: 5px 10px;
    margin: 0px 5px;
    border-radius: 10px;
}
.cancel-task {
    background-color: rgb(255, 115, 115);
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.hidden {
    display: none;
}


